body, td {
    font-size: 10pt;
    font-family: sans-serif, "Lucida Grande", Arial;
    background-color: #003946;
    color: #97A600;
}

form {
    margin: 0;
    padding: 0;
}

input {
    border: 1px solid #97A600;
    border-radius: 0.5em;
    background-color: #575B5C;
    color: white;
    padding: 0.2em;
}

input[type=text] {
    padding: 0.3em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #C39900;
}

a.title:hover {
    color: #2BAEA9;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* ************************************************************************** */

.title {
    padding: 1px;
}

.actions {
    margin-right: 0.5em;
}

.item .highlight {
    color: white;
}

/* ************************************************************************** */

.toolbar {
    position: relative;
    height: 2.5em;
    border: 2px solid #97A600;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.toolbar .location {
    position: absolute;
    left: 0.5em;
    top: 0.75em;
    width: 60%;
}

.toolbar .search {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 40%;
    text-align: right;
}

.toolbar .search input[type=text] {
    position: absolute;
    left: 0;
    top: 0;
    width: 78%;
}

.toolbar .search input[type=submit] {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
}

/* ************************************************************************** */

.controls {
    border: 2px solid #97A600;
    border-radius: 0.5em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.controls .separator {
    margin: 0 1em;
    display: inline;
}

/* ************************************************************************** */

.browser {
    border: 2px solid #97A600;
    border-radius: 0.5em;
    min-height: 1em;
    padding: 0.5em;
}

/* ************************************************************************** */

.hits {
    border: 2px solid #97A600;
    border-radius: 0.5em;
    min-height: 1em;
    padding: 0.5em;
}

/* ************************************************************************** */

.playlist {
    border: 2px solid #97A600;
    border-radius: 0.5em;
    min-height: 1em;
    padding: 0.5em;
}

